body {
  background: rgb(36, 96, 116);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* flex-direction: column; */
}

a {
  position: relative;
  display: inline-block;
  padding: 50px 50px;
  margin: 10px 50px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 6px;
  border-radius: 40px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(212, 156, 92), rgb(192, 190, 92));
}

#btn-gato {
  background: linear-gradient(90deg, #414242, #b4b4b4);
}

span {
  position: absolute;
  background: #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5p;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}
h1 {
  animation: animate__zoomOutLeft;
}
